<!DOCTYPE html>
<html>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      <label for="team[name]">Team Name</label>
      <input id="team[name]" type="text" name="team[name]">
      
      <label for="team[motto]" 
      
      
      
      
      
      

    
    
 
 
 
 
 
    </form>
    
  </body>
  
  
  
</html>
