<!DOCTYPE html>
<html>
  <body>
    <h1><%= @team_name %></h1>
    <h2>Team Motto: <%= @team_motto %></h2>
    <div class="heoroes">
      <% @team_member.each do
      
      
      
      
      
      
      
    </div>
    
  </body>
  
  
</html>


